<!--{% load static %}-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Thống kê báo cáo</title>-->
<!--    <link rel="stylesheet" href="{% static 'clinic/myStyles.css' %}">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="nav-bar">-->
<!--      <div class="nav-bar-title">-->
<!--        <h1>GLOBAL HEALTH</h1>-->
<!--      </div>-->

<!--      <div class="nav-bar-options">-->
<!--        <a href="{}">Hoạt động khám</a>-->
<!--        <a href="#">Doanh thu</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--      {% block content %}-->
<!--      {% endblock %}-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->